<title>NEWS</title>
<body>
    
    <form action="/news" method="GET">
    <select type="text" name="type" >
        <option value="world">мир</option>
        <option value="politics">политика</option>
        <option value="economy">экономика</option>
        <option value="society">общество</option>
        <option value="incidents">происшествия</option>
        <option value="science">наука</option>
        <option value="culture">культура</option>
    </select>
    <input type="submit">
</form>
</body>