<title>NEWS</title>
<body>
    <h1>{{header}}</h1>
    {{#each news}}
    <div>
        <div>{{this.title}}</div>
        <a href={{this.link}}>{{this.link}}</a>
        <br>
    </div>        
    {{/each}}
</body>